.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore output files in out_nosync
analysis/out_nosync/*

# And downloaded files
analysis/downloads/*

# Ignore compiled models
analysis/models/*.rds

# Ignore output and auxiliary files in the communications folder
comms/output/*
comms/**/*.nav
comms/**/*.snm
comms/**/*.toc
comms/**/*.aux
comms/**/*.log
comms/**/*.synctex.gz
# Also old presentation's files
comms/archived_comms/*

# Ignore beta functions
beta/*

# Ignore miscellaneous scripts
analysis/scripts/misc/*
